body {
}

main {
  border: 1px orange solid;
  width:100%;
  padding-top:30px;
}

input {
  /*border: 1px brown solid;*/
  padding: 1%;
  margin: 1% auto;
  display: block;
}

a {
  text-decoration: none;
}

i {
  /*border: 1px red solid;*/
  vertical-align: middle;
  font-size: 24px;
}

.header {
  padding: 5px 20px 20px 5px;
}

.title {
  margin-left: 20px;
}

.addEventButton {
  /*border: 1px green solid;*/
  height:50px;
  margin: 10%;
  width: 80%;
}

.editButton{}

.deleteButton{}



.page.container-fluid {
  /*border: 1px pink solid;*/
  margin: auto;
}



.bold {
  font-weight: 700;
}

.grey {
  color: grey;
}

.logoheader {
  /*border: 1px blue solid;*/
  position: relative;
  margin-left: 50px;
  float: left;
  width: 200px;
  height: 200px;
  padding: 10px 20px 10px 10px;
}

.title {
  margin-top: 70px;
  margin-left: 40px;
  padding-top: 10px;
}

