body {
}

.page {
  margin: auto;
}

input {
  padding: 1%;
  margin: 1% auto;
  display: block;
}

a {
  text-decoration: none;
}

i {
  vertical-align: middle;
  font-size: 24px;
}

.bold {
  font-weight: 700;
}

.grey {
  color: grey;
}
