doctype html
html(ng-app="unionPark")
  head
    title= title
    link(rel="stylesheet" href='/lib/ng-tags-input.min.css')
    link(rel='stylesheet' href='/lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/main.css')
    script(src='lib/angular.min.js')
    script(src='lib/angular-route.min.js')
    script(src='lib/angular-animate-min.js')
    script(src='lib/ng-tags-input.min.js')
    script(src='lib/ui-bootstrap-tpls.js')
    script(src='/scripts/appConfig.js')
    script(src='/scripts/factoriesServices/ccFactory.js')
    script(src='/scripts/factoriesServices/loginFactory.js')
    script(src='/scripts/controllers/ccTableCtrl.js')
    script(src='/scripts/controllers/editDataCtrl.js')
    script(src='/scripts/controllers/loginCtrl.js')
    script(src='/scripts/controllers/layoutCtrl.js')
    script(src='/scripts/controllers/modalCtrl.js')
    script(src='https://apis.google.com/js/platform.js', async='', defer='')
    meta(name="google-signin-client_id", content= clientID)
  body
    .page.container-fluid
      .row
        .header.navbar
          img.logoheader(src='/img/up_whitetrans.png' alt='unionpark logo' style='width:100px;height:100px;')
          h1.title= title
        .g-signin2(data-onsuccess="onSignIn")
      .row
        block content