doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
  body
    .page
      header
        .row
          .col-md-2
          .col-md-2
            h1= title

      block content

