doctype html
html(ng-app="unionPark")
  head
    title= title
    link(rel="stylesheet" href='/lib/ng-tags-input.min.css')
    link(rel='stylesheet' href='/lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/main.css')
    script(src='lib/angular.min.js')
    script(src='lib/angular-route.min.js')
    script(src='lib/angular-animate-min.js')
    script(src='lib/ng-tags-input.min.js')
    script(src='lib/ui-bootstrap-tpls.js')
    script(src='/scripts/appConfig.js')
    script(src='/scripts/factoriesServices/ccFactory.js')
    script(src='/scripts/factoriesServices/loginFactory.js')
    script(src='/scripts/controllers/ccTableCtrl.js')
    script(src='/scripts/controllers/editDataCtrl.js')
    script(src='/scripts/controllers/loginCtrl.js')
    script(src='/scripts/controllers/layoutCtrl.js')
    script(src='/scripts/controllers/modalCtrl.js')
    script(src='https://apis.google.com/js/platform.js', async='', defer='')
  body
    .page.container-fluid
      .header.head
        img.logoheader(src='/img/unionparklogo.jpeg' alt='unionpark logo' style='width:200px;height:200px;')
        h1= title
      block content

