doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
    script(src='lib/angular.min.js')
    script(src='lib/angular.min.js')
    script(src='lib/angular.min.js')
    script(src='lib/angular.min.js')
    script(src='lib/angular.min.js')
    script(src='lib/angular.min.js')
    script(src='lib/angular.min.js')

  body
    .page
      header
        .row
          .col-md-2
          .col-md-2
            h1= title

      block content

