doctype html
html(ng-app="unionPark")
  head
    title= title
    script(src='lib/angular.min.js')
    script(src='lib/angular-route.min.js')
    script(src='lib/ng-tags-input.min.js')
    script(src="/scripts/appConfig.js")
    script(src='/scripts/factoriesServices/ccFactory.js')
    script(src='/scripts/factoriesServices/loginFactory.js')
    script(src='/scripts/controllers/ccTableCtrl.js')
    script(src='/scripts/controllers/editDataCtrl.js')
    script(src='/scripts/controllers/loginCtrl.js')
    script(src='/scripts/controllers/layoutCtrl.js')
    script(src='https://apis.google.com/js/platform.js', async='', defer='')
    link(rel="stylesheet" href="/lib/bootstrap.min.js")
    link(rel="stylesheet" href='/lib/ng-tags-input.min.css')
    link(rel='stylesheet' href='/lib/bootstrap.min.css')
    link(rel='stylesheet' href='/css/main.css')
  body
    .page
      h1= title
        //.row
        //  .col-md-2
        //  .col-md-2
        //    h1= title
      block content

