
<div class="row">
  <div class="col-md-2">
    <h1>Filter</h1>
    <tags-input type="text" ng-model="searchByTags">
      <span class="glyphicon glyphicon-search"></span>
      <auto-complete source="returnPossibleTags($query)"></auto-complete>
    </tags-input>
  </div>
  <div class="col-md-8">
    <div class="listLengthSelector">
      <ul>
        <li ng-model="forward" ng-click="turnPage(-1)"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></li>
        <li ng-if="pageNumber!== 1" ng-click="turnPage(-1)">{{pageNumber-1}}</li>
        <li>{{pageNumber}}</li>
        <li ng-click="turnPage(1)">{{pageNumber+1}}</li>
        <li ng-model="backward" ng-click="turnPage(1)"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></li>
      </ul>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="md-table-header">Name</th>
          <th class="md-table-header">Start Date</th>
          <th class="md-table-header">End Date</th>
          <th class="md-table-header">Tags</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="event in eventList | limitTo:listQuantity:startNumber" ng-click="openEdit(event)">
          <td class="firstCol">{{event.summary}}</td>
          <td>{{event.startDate.toDateString()}}</td>
          <td>{{event.endDate.toDateString()}}</td>
          <td>
            <ul>
              <li ng-repeat="tag in event.tags">{{tag.text}}</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal-dialog">
  <form ng-show="editForm" ng-submit="saveRow()">
    <lable for="summary">Summary</lable>
    <input type="text" name="summary" ng-model="currentEvent.summary">
    <lable for="startDate">Start Date</lable>
    <input type="date" name="startDate" ng-model="currentEvent.startDate">
    <lable for="endDate">End Date</lable>
    <input type="date" name="endDate" ng-model="currentEvent.endDate">
    <label for="description">Description</label>
    <input type="text" name="description" ng-model="currentEvent.description">
    <h4>Tags</h4>
    <tags-input type="text" ng-model="currentEvent.tags">
    <input type="submit" value="Save event">
  </form>
</div>

<!--&lt;!&ndash; Trigger the modal with a button &ndash;&gt;-->
<!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->

<!--&lt;!&ndash; Modal &ndash;&gt;-->
<!--<div id="myModal" class="modal fade" role="dialog">-->
  <!--<div class="modal-dialog">-->

    <!--&lt;!&ndash; Modal content&ndash;&gt;-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
        <!--<h4 class="modal-title">Modal Header</h4>-->
      <!--</div>-->
      <!--<div class="modal-body">-->
        <!--<p>Some text in the modal.</p>-->
      <!--</div>-->
      <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->