
<div class="col-md-3">
  <button class="btn btn-default addEventButton" ng-click="openEdit()">Insert New Event</button>
  <h1>Filter</h1>
  <tags-input type="text" ng-model="searchByTags" on-tag-added="eventFilter()" on-tag-removed="eventFilter()">
    <span class="glyphicon glyphicon-search"></span>
    <auto-complete source="returnPossibleTags($query)"></auto-complete>
  </tags-input>
</div>
<div class="col-md-9">
  <div class="listLengthSelector">
    <uib-pagination total-items="filteredEvents.length" ng-model="currentPage" items-per-page="itemsPerPage" ng-click="setPage()" max-size="maxSize" class="pagination-md" boundary-links="true" num-pages="totalPages"></uib-pagination>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="md-table-header">Name</th>
        <th class="md-table-header">Start Date</th>
        <th class="md-table-header">End Date</th>
        <th class="md-table-header">Tags</th>
        <th class="md-table-header">Edit Event</th>
        <th class="md-table-header">Remove Event</th>
      </tr>
    </thead>
    <tbody>
    <tr ng-repeat="event in filteredEvents | limitTo:itemsPerPage:startNumber">
      <td class="firstCol">{{event.summary}}</td>
      <td>{{event.startDate.toDateString()}}</td>
      <td>{{event.endDate.toDateString()}}</td>
      <td>
        <ul>
          <li ng-repeat="tag in event.tags">{{tag.text}}</li>
        </ul>
      </td>
      <td><button class="btn btn-default" ng-click="openEdit(event,eventList.indexOf(event))">Edit</button></td>
      <td><button class="btn btn-default" ng-click="deleteEvent(eventList.indexOf(event))">Remove</button></td>
    </tr>
    </tbody>
  </table>
</div>
<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">I'm a modal!</h3>
  </div>
  <div class="modal-body">
    <form ng-submit="$parent.saveRow()">
      <lable for="summary">Summary</lable>
      <input type="text" name="summary" ng-model="currentEvent.summary">
      <lable for="startDate">Start Date</lable>
      <input type="date" name="startDate" ng-model="currentEvent.startDate">
      <lable for="endDate">End Date</lable>
      <input type="date" name="endDate" ng-model="currentEvent.endDate">
      <label for="description">Description</label>
      <input type="text" name="description" ng-model="currentEvent.description">
      <h4>Tags</h4>
      <tags-input type="text" ng-model="currentEvent.tags">
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>

